:root {
    --section-padding: 94px;
    --main-color: #212121;
    --secondary-color: #757575;
    --company-color: #2196F3;
    --company-color-opacity: #2196F3E5;
    --company-bg-color: #2F303A;
    --company-bg-color-opacity: #2F303ACC;
    --secondary-bg-color: #F5F4FA;
    --icons-color: #AFB1B8;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    margin: 0;
}

html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    margin-block: 0;
}

button:not(:disabled) {
    cursor: pointer;
}

input {
    font-family: inherit;
}

.hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.fixed {
    overflow: hidden;
}

header {
    display: flex;
    height: 60px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    border-bottom: #bbbbbb 1px solid;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: black;
    margin-right: 80px;
}

.address-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.nav__link {
    color: var(--main-color);
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link__line {
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link__line:hover {
    background-color: var(--company-color);
}

.nav__link:not(:last-child) {
    margin-right: 50px;
}

.address__link {
    font-size: 12px;
    color: var(--secondary-color);
    fill: var(--secondary-color);
    display: flex;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav__link:hover {
    color: var(--company-color);
}

.address__link:hover {
    color: var(--company-color);
    fill: var(--company-color);
}

.active-link::after {
    background-color: var(--company-color);
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    bottom: -32px;
}

.header__navigation-icon {
    width: 40px;
    height: 40px;
    padding: 12px 8px;
}

.open-navigation {
    border: none;
    background-color: unset;
}

.navigation-container {
    padding: 48px 0 48px 40px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.mobile-navigation {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.mobile-nav__link {
    display: block;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.mobile-nav__link:hover {
    color: var(--company-color);
}

.mobile-nav__link:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-address__link {
    display: block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: var(--secondary-color);
}

.mobile-address__link:first-child {
    font-size: 34px;
    color: var(--company-color);
    margin-bottom: 32px;
}

.mobile-social {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
}

.mobile-social__link {
    font-size: 18px;
    font-weight: 500;
    color: var(--company-color);
}

.mobile-social__link:not(:last-child) {
    margin-right: 20px;
    position: relative;
}

.mobile-social__link:not(:last-child)::after {
    height: 100%;
    width: 2px;
    background-color: var(--main-color);
    opacity: 20%;
    content: "";
    position: absolute;
    right: -10px;
}

@media screen and (min-width: 768px) {
    .mobile-navigation {
        display: none;
    }
}

.close {
    position: absolute;
    padding: 0;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    right: 8px;
    top: 8px;
    fill: black;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header {
        height: 80px;
    }

    .nav__link {
        display: flex;
    }

    .header__address {
        display: flex;
        flex-direction: column;
    }

    .address__link:first-child {
        margin-bottom: 10px;
    }

    .open-navigation {
        display: none;
    }

    .header__navigation {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .header__address {
        flex-direction: row;
    }

    .address__link:first-child {
        margin-bottom: 0;
        margin-right: 30px;
    }
}

ul {
    padding: 0;
}

.section-base {
    padding: 60px 0;
}

.base-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.section-base__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}

@media screen and (min-width: 768px) {
    .base-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .base-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .section-base__title {
        font-size: 36px;
    }

    .section-base {
        padding: var(--section-padding) 0;
    }
}

.button {
    border-radius: 4px;
    background: var(--company-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    height: 50px;
    width: 216px;
    margin-top: 30px;
}



.close>svg {
    height: 30px;
    width: 30px;
}

.filter {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.filter__item {
    height: fit-content;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 6px 25px;
    line-height: 26px;
    background-color: #F5F4FA;
    border-radius: 4px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.item-type-all {
    margin-bottom: 15px;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__item:hover {
    color: white;
    background-color: var(--company-color);
}

@media screen and (min-width: 768px) {
    .filter {
        justify-content: center;
    }

    .item-type-all {
        margin-bottom: 0;
    }
}

.works {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
}

.works__item {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    --hover-translate: 65%;
    --hover-scale: 0.01;
}

.works__item__overlay {
    width: 99.99%;
    height: 294px;
    position: absolute;
    z-index: 2;
    padding: 63px 24px;
    background: var(--company-color-opacity);
    transform: translate(0, var(--hover-translate)) scale(1, var(--hover-scale));
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.works__item__overlay__text {
    height: 294px;
    overflow-y: hidden;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.works__item:hover {
    --hover-translate: 0;
    --hover-scale: 1;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.works__item__info {
    padding: 20px 24px;
    background-color: white;
    border: #EEE 1px solid;
    border-top: none;
    z-index: 3;
}

.works__item__info-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px;
    line-height: 36px;
}

.works__item__info-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 30px;
}

.works__item__image-container{
    max-height: 294px;
    overflow: hidden;
}

.works__item__image-container>img {
    width: 100%;
    max-width: 450px;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .works {
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }

    .works__item__image-container>img {
        width: 354px;
    }
    
    .works__item__overlay {
    width: 353px;
    }
}

@media screen and (min-width: 1200px) {
    .works {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;
    }

    .works__item__image-container>img {
        width: 370px;
    }
    
    .works__item__overlay {
    width: 369px;
    }
}



footer {
    padding: 60px 0px;
    background-color: var(--company-bg-color);
    color: rgba(255, 255, 255, 0.6);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

address {
    font-style: normal;
}

.footer__address {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__link {
    line-height: 21px;
}

.footer__link:not(:last-child) {
    margin-bottom: 9px;
}

.address__maps {
    color: white;
}

a {
    text-decoration: none;
    color: unset;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    width: fit-content;
}

.footer__logo {
    color: white;
}

.logo>span {
    color: var(--company-color);
}

.social-links {
    height: 44px;
    display: grid;
    grid-template-columns: repeat(4, 44px);
    gap: 10px;
}

.social-links__icon {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon>svg {
    width: 44px;
    height: 44px;
    padding: 12px 12px;
}

.social-links__icon:hover {
    background-color: var(--company-color);
    fill: white;
}

.footer__social {
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social-links__icon {
    background-color: #FFFFFF1A;
    fill: #FFFFFF;
}

.footer__social__title {
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0 0;
    align-self: stretch;
}

.footer__label {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 20px 0 0 0;
}

.footer__input {
    background-color: var(--company-bg-color);
    height: 50px;
    border: 1px solid #FFFFFF4D;
    box-shadow: 0px 4px 4px 0px #00000026;
    padding: 15px 16px;
    font-size: 16px;
    color: white;
    width: 100%;
}

.footer__input::placeholder {
    color: rgba(255, 255, 255, 0.60);
}

.footer__button {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-email {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 768px) {
    .footer__container {
        flex-direction: unset;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .footer__social {
        margin: 0 0 0 165px;
    }

    .footer__input {
        min-width: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__container {
        justify-content: space-between;
    }

    .footer__contacts {
        display: block;
    }

    .footer__address {
        align-items: normal;
    }

    .footer__social {
        margin: 0;
        display: block;
    }

    .footer__form {
        margin: 0;
        display: block;
    }

    .registration {
        flex-direction: row;
    }

    .footer__button {
        margin: 0 0 0 12px;
    }

    .footer__input {
        min-width: 358px;
        width: unset;
    }
}